<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golf</title>
    <link rel="stylesheet" href="/styles/globals.css">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="bg-background text-text">
<% if (locals.path !== '/api/view-score') { %>
    <header>
        <nav class="container mx-auto px-4 py-6">
            <div class="flex justify-between items-center">
                <a href="/" class="text-2xl font-bold text-red-500">Golf Tournament</a>
                <ul class="flex space-x-4">
                    <li><a href="/" class="hover:text-primary">Home</a></li>
                    <li><a href="/about" class="hover:text-primary">About</a></li>
                    <% if (locals.logged && logged === true) { %>
                        <li><a href="/logout" class="hover:text-primary">Log Out</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <% if (locals.message) { %>
            <div id="messageBar" class="bg-background font-bold text-red-500 p-4 text-center">
                <span><%= message %></span>
            </div>
            <script>
                <% if (message != "tournament is paused! Click on Start tournament to let players enter and save scores!") { %>
                    setTimeout(function() {
                        var messageBar = document.getElementById('messageBar');
                        messageBar.style.opacity = '0';
                        setTimeout(function() {
                            messageBar.style.display = 'none';
                        }, 500);
                    }, 5000);
                <% } %>
            </script>
        <% } %>
    </header>
<% } %>
<main class="<%= locals.path === '/api/view-score' ? 'w-screen h-screen flex items-center justify-center' : 'container mx-auto px-4 py-8' %>">