<%- include("partials/header.ejs") %>
<div class="max-w-md mx-auto">
    <form action="/admin" method="get" class="space-y-4">
        <button class="btn w-full flex items-center justify-center" >
            <i class="ri-admin-line mr-2"></i>
            Admin Login
        </button>
    </form>
    <form action="/api" method="get" class="space-y-4">
        <button class="btn w-full flex items-center justify-center" >
            <i class="ri-user-add-line mr-2"></i>
            Players
        </button>
    </form>
<%- include("partials/footer.ejs") %>